ô@media (min-width:320px) { 
    .header {
        font-size: 15px;
    }
  }
  
  @media (min-width:481px) { 
    .header {
        font-size: 25px;
    }    
  }
  
  @media (min-width:641px) { 
    .header {
        font-size: 32px;
    }    
  }
  
  @media (min-width:961px) { 
    .header {
        font-size: 40px;
    }    
  }
  
  @media (min-width:1025px) { 
    .header {
        font-size: 45px;
    }
  }
  
  @media (min-width:1281px) { 
    .header {
        font-size: 55px;
    }
  }
  .menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
  }
  
  .menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .menu__icon span:nth-child(1) {
    top: 0px;
  }
  
  .menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
  }
  
  .menu__icon span:nth-child(4) {
    top: 26px;
  }
  
  @media (max-width: 999px) {
  .menu__icon{
    display: inline-block;
  }
  
  .header {
    display: none;
  }