@media (min-width:320px) { 
    .header {
        font-size: 15px;
    }
  }
  
  @media (min-width:481px) { 
    .header {
        font-size: 25px;
    }    
  }
  
  @media (min-width:641px) { 
    .header {
        font-size: 32px;
    }    
  }
  
  @media (min-width:961px) { 
    .header {
        font-size: 40px;
    }    
  }
  
  @media (min-width:1025px) { 
    .header {
        font-size: 45px;
    }
  }
  
  @media (min-width:1281px) { 
    .header {
        font-size: 55px;
    }
  }